@import "tailwindcss";

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  font-family: sans-serif;
}
.users{
  margin-top: 50px;
}
.cards {
  padding: 10px;
}
.user-text{
  margin-top: 40px;
  text-align: center;
}